.navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    background: transparent;
    // background-color: beige;
    top: 0;
    z-index: 999;
}

.navbar.active {
    background-color: linear-gradient(90deg, rgb(66, 2, 194) 0%, rgb(0, 78, 194) 100%);
}